*{
	margin: 0;
	padding: 0;
	outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
body{
	background-color: rgb(214, 214, 214);
}

.main{
    width: 50%;
    background-color: #2980B9;
    text-align: center;
	border-radius: 10px;
	margin: 10% auto;
	padding: 3%;
    position: relative;
    color: white;
}
