{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

    {% for repository in repositories %}
    <div class="repository">
        <div class="repository-header">
            <span class="fa fa-folder-open"></span>  <a href="{{ path('repository', {repo: repository.name}) }}">{{ repository.name }}</a>
        </div>
        <div class="repository-body">
            {% if repository.description %}
            <p>{{ repository.description }}</p>
            {% else %}
            <p>No hay archivo de descripción del repositorio. Por favor, cree uno para eliminar este mensaje.</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
